.my_btn {
    background-color: blue;
    border: 2px solid black;
    color: #fff;
}

.qoute-block {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    /* width: fit-content; */
    text-align: center;
}

.my_btn:hover {
    background-color: green;
}